<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
  <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_transferrequest})}|">Show TransferRequest - BigDash</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content" data-th-object="${transferRequest}">
        <div class="container-fluid content">

          <!-- CONTENT -->
          <h1 data-th-text="#{label_show_entity(#{label_transferrequest})}">Show TransferRequest</h1>

            <div id="mainEntityFieldSet">
                <h2 data-th-text="'Request #' + *{id}">Request data</h2>
              <ul class="list-unstyled" id="containerFields">
                  <li id="transferrequest-usercreated-field" data-z="75cfe25">
            	      <strong data-th-text="#{label_transferrequest_usercreated}">userCreated</strong>
                    <span data-th-text="*{{userCreated}}">userCreatedValue</span>
         	        </li>
                  <li id="transferrequest-userassigned-field" data-z="9e0499">
            	      <strong data-th-text="#{label_transferrequest_userassigned}">userAssigned</strong>
                    <span data-th-text="*{{userAssigned}}">userAssignedValue</span>
         	        </li>
                  <li id="transferrequest-status-field" data-z="7158d4d9">
            	      <strong data-th-text="#{label_transferrequest_status}">status</strong>
                    <span data-th-text="*{{status}}">statusValue</span>
         	        </li>
                  <li id="transferrequest-notes-field" data-z="3d744a45">
            	      <strong data-th-text="#{label_transferrequest_notes}">notes</strong>
                    <span data-th-text="*{{notes}}">notesValue</span>
         	        </li>
                  <li id="transferrequest-createddate-field" data-z="f198f345">
            	      <strong data-th-text="#{label_transferrequest_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="transferrequest-createdby-field" data-z="7bdaf3a5">
            	      <strong data-th-text="#{label_transferrequest_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="transferrequest-modifieddate-field" data-z="af81a0d9">
            	      <strong data-th-text="#{label_transferrequest_modifieddate}">modifiedDate</strong>
                    <span data-th-text="*{{modifiedDate}}">modifiedDateValue</span>
         	        </li>
                  <li id="transferrequest-modifiedby-field" data-z="2579f639">
            	      <strong data-th-text="#{label_transferrequest_modifiedby}">modifiedBy</strong>
                    <span data-th-text="*{{modifiedBy}}">modifiedByValue</span>
         	        </li>

                  <li id="transferrequest-fromfacility-field" data-z="2579f639">
                      <strong>From Facility</strong>
                      <span data-th-text="*{{fromFacility}}">fromFacilityValue</span>
                  </li>
                  <li id="transferrequest-tofacility-field" data-z="2579f639">
                      <strong>To Facility</strong>
                      <span data-th-text="*{{toFacility}}">toFacilityValue</span>
                  </li>

                  <li id="transferrequest-inventoryitems-field" data-z="dbe195f6">
                      <strong>Records</strong>
                      <div>
                          <table class="table table-striped table-bordered table-condensed">
                              <thead>
                              <tr>
                                  <th>Id</th>
                                  <th>Type</th>
                                  <th th:if="*{storageType.name == 'DOCUMENT'}">Doc Barcode</th>
                                  <th th:if="*{storageType.name == 'DOCUMENT' or storageType.name == 'FILE'}">File Barcode</th>
                                  <th>Box Barcode</th>
                                  <th sec:authorize="hasRole('OPERATOR')">Location</th>
                                  <th sec:authorize="hasRole('OPERATOR')">Status</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr th:each="item : *{inventoryItems}">
                                  <td th:text="${item?.id}">1</td>
                                  <td th:text="${item?.type}">type</td>
                                  <td th:if="*{storageType.name == 'DOCUMENT'}" th:text="${item?.documentBarcode}">barcode</td>
                                  <td th:if="*{storageType.name == 'DOCUMENT' or storageType.name == 'FILE'}" th:text="${item?.fileBarcode}">barcode</td>
                                  <td th:text="${item?.boxBarcode}">barcode</td>
                                  <td sec:authorize="hasRole('OPERATOR')" th:text="${item?.location}">location</td>
                                  <td sec:authorize="hasRole('OPERATOR')" th:text="${item?.status}">status</td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                  </li>

              </ul>
            </div>


          <div class="clearfix">
            <div th:if="${transferRequest.status.name() == 'OPEN'}" class="pull-right">
             <a id="TransferRequest_edit" href="edit.html" class="btn btn-primary" data-th-title="#{label_goEdit}" data-th-href="${@linkBuilder.of('TransferRequestsItemThymeleafController').to('editForm').with('transferRequest', transferRequest.id)}" data-th-text="#{label_edit}">Edit</a>
            </div>

              <div sec:authorize="hasRole('OPERATOR')" class="pull-right">
                  <a id="Request_workflow" data-th-href="'/requests/' + ${transferRequest.id} + '/workflow'" class="btn btn-primary" style="margin-right: 5px">Workflow</a>
              </div>

              <div class="pull-left">
                  <a id="TransferRequest_list" href="list.html" class="btn btn-default" data-th-title="#{label_goBack}" data-th-href="${@linkBuilder.of('RequestsCollectionThymeleafController').to('list')}">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span data-th-text="#{label_back}">Back</span>
                  </a>
              </div>
          </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
