<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
  <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_retrievalrequest})}|">Show RetrievalRequest - BigDash</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content" data-th-object="${retrievalRequest}">
        <div class="container-fluid content">

          <!-- CONTENT -->
          <h1 data-th-text="#{label_show_entity(#{label_retrievalrequest})}">Show RetrievalRequest</h1>

            <div id="mainEntityFieldSet">
                <h2 data-th-text="'Request #' + *{id}">Request data</h2>
              <ul class="list-unstyled" id="containerFields">
                  <li id="retrievalrequest-usercreated-field" data-z="d1967978">
            	      <strong data-th-text="#{label_retrievalrequest_usercreated}">userCreated</strong>
                    <span data-th-text="*{{userCreated}}">userCreatedValue</span>
         	        </li>
                  <li id="retrievalrequest-userassigned-field" data-z="7d93f3a6">
            	      <strong data-th-text="#{label_retrievalrequest_userassigned}">userAssigned</strong>
                    <span data-th-text="*{{userAssigned}}">userAssignedValue</span>
         	        </li>
                  <li id="retrievalrequest-status-field" data-z="1cfe51a6">
            	      <strong data-th-text="#{label_retrievalrequest_status}">status</strong>
                    <span data-th-text="*{{status}}">statusValue</span>
         	        </li>
                  <li id="retrievalrequest-notes-field" data-z="21f57fd8">
            	      <strong data-th-text="#{label_retrievalrequest_notes}">notes</strong>
                    <span data-th-text="*{{notes}}">notesValue</span>
         	        </li>
                  <li id="retrievalrequest-createddate-field" data-z="bbd26e98">
            	      <strong data-th-text="#{label_retrievalrequest_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="retrievalrequest-createdby-field" data-z="2ad127b8">
            	      <strong data-th-text="#{label_retrievalrequest_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="retrievalrequest-modifieddate-field" data-z="2c778fe6">
            	      <strong data-th-text="#{label_retrievalrequest_modifieddate}">modifiedDate</strong>
                    <span data-th-text="*{{modifiedDate}}">modifiedDateValue</span>
         	        </li>
                  <li id="retrievalrequest-modifiedby-field" data-z="554a4486">
            	      <strong data-th-text="#{label_retrievalrequest_modifiedby}">modifiedBy</strong>
                    <span data-th-text="*{{modifiedBy}}">modifiedByValue</span>
         	        </li>
              </ul>
            </div>


          <div class="clearfix">
            <div class="pull-right">
             <a id="RetrievalRequest_edit" href="edit.html" class="btn btn-primary" data-th-title="#{label_goEdit}" data-th-href="${@linkBuilder.of('RetrievalRequestsItemThymeleafController').to('editForm').with('retrievalRequest', retrievalRequest.id)}" data-th-text="#{label_edit}">Edit</a>
            </div>
          </div>


          <div class="clearfix">
            <div class="pull-left">
              <a id="RetrievalRequest_list" href="list.html" class="btn btn-default" data-th-title="#{label_goBack}" data-th-href="${@linkBuilder.of('RequestsCollectionThymeleafController').to('list')}">
  	             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  	             <span data-th-text="#{label_back}">Back</span>
  	          </a>
            </div>
          </div>
        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
