<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_request})}|">Show Request - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${request}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="request-usercreated-field" data-z="7e04ba">
            	      <strong data-th-text="#{label_request_usercreated}">userCreated</strong>
                    <span data-th-text="*{{userCreated}}">userCreatedValue</span>
         	        </li>
                  <li id="request-userassigned-field" data-z="2b9dd0a4">
            	      <strong data-th-text="#{label_request_userassigned}">userAssigned</strong>
                    <span data-th-text="*{{userAssigned}}">userAssignedValue</span>
         	        </li>
                  <li id="request-status-field" data-z="1af94524">
            	      <strong data-th-text="#{label_request_status}">status</strong>
                    <span data-th-text="*{{status}}">statusValue</span>
         	        </li>
                  <li id="request-notes-field" data-z="4b2f249a">
            	      <strong data-th-text="#{label_request_notes}">notes</strong>
                    <span data-th-text="*{{notes}}">notesValue</span>
         	        </li>
                  <li id="request-createddate-field" data-z="eab9f9da">
            	      <strong data-th-text="#{label_request_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="request-createdby-field" data-z="21469b7a">
            	      <strong data-th-text="#{label_request_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="request-modifieddate-field" data-z="da816ce4">
            	      <strong data-th-text="#{label_request_modifieddate}">modifiedDate</strong>
                    <span data-th-text="*{{modifiedDate}}">modifiedDateValue</span>
         	        </li>
                  <li id="request-modifiedby-field" data-z="2d834904">
            	      <strong data-th-text="#{label_request_modifiedby}">modifiedBy</strong>
                    <span data-th-text="*{{modifiedBy}}">modifiedByValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
