<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
  <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_request})}|">Show Request - BigDash</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content" data-th-object="${request}">
        <div class="container-fluid content">

          <!-- CONTENT -->
          <h1 data-th-text="#{label_show_entity(#{label_request})}">Show Request</h1>

            <div id="mainEntityFieldSet">
              <h2 data-th-text="#{label_data_entity(#{label_request})}">Request data</h2>
              <ul class="list-unstyled" id="containerFields">
                  <li id="request-usercreated-field" data-z="7e04ba">
            	      <strong data-th-text="#{label_request_usercreated}">userCreated</strong>
                    <span data-th-text="*{{userCreated}}">userCreatedValue</span>
         	        </li>
                  <li id="request-userassigned-field" data-z="2b9dd0a4">
            	      <strong data-th-text="#{label_request_userassigned}">userAssigned</strong>
                    <span data-th-text="*{{userAssigned}}">userAssignedValue</span>
         	        </li>
                  <li id="request-status-field" data-z="1af94524">
            	      <strong data-th-text="#{label_request_status}">status</strong>
                    <span data-th-text="*{{status}}">statusValue</span>
         	        </li>
                  <li id="request-notes-field" data-z="4b2f249a">
            	      <strong data-th-text="#{label_request_notes}">notes</strong>
                    <span data-th-text="*{{notes}}">notesValue</span>
         	        </li>
                  <li id="request-storagetype-field" data-z="cb5441fa">
                      <strong data-th-text="#{label_request_storagetype}">storageType</strong>
                      <span data-th-text="*{{storageType}}">storageTypeValue</span>
                  </li>
                  <li id="request-createddate-field" data-z="eab9f9da">
            	      <strong data-th-text="#{label_request_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="request-createdby-field" data-z="21469b7a">
            	      <strong data-th-text="#{label_request_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="request-modifieddate-field" data-z="da816ce4">
            	      <strong data-th-text="#{label_request_modifieddate}">modifiedDate</strong>
                    <span data-th-text="*{{modifiedDate}}">modifiedDateValue</span>
         	        </li>
                  <li id="request-modifiedby-field" data-z="2d834904">
            	      <strong data-th-text="#{label_request_modifiedby}">modifiedBy</strong>
                    <span data-th-text="*{{modifiedBy}}">modifiedByValue</span>
         	        </li>
              </ul>
            </div>


          <div class="clearfix">
            <div class="pull-right">
             <a id="Request_edit" href="edit.html" class="btn btn-primary" data-th-title="#{label_goEdit}" data-th-href="${@linkBuilder.of('RequestsItemThymeleafController').to('editForm').with('request', request.id)}" data-th-text="#{label_edit}">Edit</a>
            </div>

              <div class="pull-right">
                  <a id="Request_workflow" data-th-href="'/requests/' + ${request.id} + '/workflow'" class="btn btn-primary" style="margin-right: 5px">Workflow</a>
              </div>


              <div class="pull-left">
                  <a id="Request_list" href="list.html" class="btn btn-default" data-th-title="#{label_goBack}" data-th-href="${@linkBuilder.of('RequestsCollectionThymeleafController').to('list')}">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span data-th-text="#{label_back}">Back</span>
                  </a>
              </div>
          </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
