<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-layout}">
    <head id="head">

    <title data-th-text="#{label_accessibility}">Accessibility - BigDash</title>

  </head>

  <body id="body">
    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!-- Main container -->
    <div class="container bg-container">
      <!-- Content -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content">

        <div class="container-fluid content">
          <div class="box-center">
            <h2 data-th-text="#{label_accessibility}">Accessibility</h2>

          </div><!-- /box-center -->
        </div>

      </section>
     <!-- /content -->
    </div>
    <!-- container -->

    <footer class="container">
      <!-- Content replaced by layout of the page displayed -->
    </footer>

    <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so that the pages load faster -->
    <!-- JavaScript loaded by layout of the page displayed -->
    <!--
         Only the inner content of the following tag "javascript" is included
         within the template, in the div "javascript"
      -->
    <div data-layout-fragment="javascript">
    </div>

  </body>

</html>