<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
  <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_shelf})}|">Show Shelf - BigDash</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content" data-th-object="${shelf}">
        <div class="container-fluid content">

          <!-- CONTENT -->
          <h1 data-th-text="#{label_show_entity(#{label_shelf})}">Show Shelf</h1>

            <div id="mainEntityFieldSet">
              <h2 data-th-text="#{label_data_entity(#{label_shelf})}">Shelf data</h2>
              <ul class="list-unstyled" id="containerFields">
                  <li id="shelf-barcode-field" data-z="bea42f7f">
            	      <strong data-th-text="#{label_shelf_barcode}">barcode</strong>
                    <span data-th-text="*{{barcode}}">barcodeValue</span>
         	        </li>
                  <li id="shelf-status-field" data-z="68318eff">
            	      <strong data-th-text="#{label_shelf_status}">status</strong>
                    <span data-th-text="*{{status}}">statusValue</span>
         	        </li>
                  <li id="shelf-facility-field" data-z="4b07c4df">
            	      <strong data-th-text="#{label_shelf_facility}">facility</strong>
                    <span data-th-text="*{{facility}}">facilityValue</span>
         	        </li>
              </ul>
            </div>


          <div class="clearfix">
            <div class="pull-right">
             <a id="Shelf_edit" href="edit.html" class="btn btn-primary" data-th-title="#{label_goEdit}" data-th-href="${@linkBuilder.of('ShelvesItemThymeleafController').to('editForm').with('shelf', shelf.id)}" data-th-text="#{label_edit}">Edit</a>
            </div>

            <div class="pull-left">
              <a id="Shelf_list" href="list.html" class="btn btn-default" data-th-title="#{label_goBack}" data-th-href="${@linkBuilder.of('ShelvesCollectionThymeleafController').to('list')}">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span data-th-text="#{label_back}">Back</span>
              </a>
            </div>

          </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
