<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_boxinventoryitem})}|">Show BoxInventoryItem - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${boxInventoryItem}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="boxinventoryitem-ref1-field" data-z="da574cf">
            	      <strong data-th-text="#{label_boxinventoryitem_ref1}">ref1</strong>
                    <span data-th-text="*{{ref1}}">ref1Value</span>
         	        </li>
                  <li id="boxinventoryitem-ref2-field" data-z="da578af">
            	      <strong data-th-text="#{label_boxinventoryitem_ref2}">ref2</strong>
                    <span data-th-text="*{{ref2}}">ref2Value</span>
         	        </li>
                  <li id="boxinventoryitem-ref3-field" data-z="da57c8f">
            	      <strong data-th-text="#{label_boxinventoryitem_ref3}">ref3</strong>
                    <span data-th-text="*{{ref3}}">ref3Value</span>
         	        </li>
                  <li id="boxinventoryitem-ref4-field" data-z="da5806f">
            	      <strong data-th-text="#{label_boxinventoryitem_ref4}">ref4</strong>
                    <span data-th-text="*{{ref4}}">ref4Value</span>
         	        </li>
                  <li id="boxinventoryitem-ref5-field" data-z="da5844f">
            	      <strong data-th-text="#{label_boxinventoryitem_ref5}">ref5</strong>
                    <span data-th-text="*{{ref5}}">ref5Value</span>
         	        </li>
                  <li id="boxinventoryitem-status-field" data-z="37d3a4f">
            	      <strong data-th-text="#{label_boxinventoryitem_status}">status</strong>
                    <span data-th-text="*{{status}}">statusValue</span>
         	        </li>
                  <li id="boxinventoryitem-box-field" data-z="419dd8cf">
            	      <strong data-th-text="#{label_boxinventoryitem_box}">box</strong>
                    <span data-th-text="*{{box}}">boxValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
