<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-layout}">
  <head id="head">

    <title data-th-text="#{label_edit_entity(#{label_pickuprequest})}">
    Edit PickupRequest - BigDash</title>

    <!-- DateTimePicker -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" data-th-href="@{/webjars/datetimepicker/2.5.4/build/jquery.datetimepicker.min.css}" />

  </head>
  

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!-- CONTAINER -->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content">

        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('PickupRequestsCollectionThymeleafController')},itemLink=${@linkBuilder.of('PickupRequestsItemThymeleafController')}">

          <h1 data-th-text="#{label_edit_entity(#{label_pickuprequest})}">Edit PickupRequest</h1>

          <!-- FORM -->
          <form class="form-horizontal validate" method="POST" data-th-object="${pickupRequest}" data-th-action="${itemLink.to('update').with('pickupRequest', pickupRequest.id)}">
            <input type="hidden" name="_method" value="PUT" />
            	<input type="hidden" name="version" data-th-value="*{version}" />

            <!-- CONCURRENCY CONTROL -->
            <div data-th-replace="~{fragments/concurrency-control :: concurrency-control(editFormUrl = ${itemLink.to('editForm').with('pickupRequest', pickupRequest.id)})}"></div>
            <!-- /CONCURRENCY CONTROL -->

             <fieldset id="containerFields">
              <legend class="sr-only" data-th-text="#{label_data_entity(#{label_pickuprequest})}">PickupRequest data </legend>

<div class="form-group has-error has-feedback" data-z="3fdebcf6" id="pickuprequest-usercreated-field" data-th-classappend="${#fields.hasErrors('userCreated')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('UsersCollectionThymeleafController')}">
    <label for="userCreated" class="col-md-3 control-label" data-th-text="#{label_pickuprequest_usercreated}">User</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{userCreated}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{userCreated} == null" data-th-value="*{userCreated.id}" data-th-text="*{{userCreated}}" selected="selected">User</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('userCreated')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('userCreated')}" aria-hidden="true"></span>
      <span id="userCreated-error" class="help-block" data-th-if="${#fields.hasErrors('userCreated')}" data-th-errors="*{userCreated}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="d8541fe8" id="pickuprequest-userassigned-field" data-th-classappend="${#fields.hasErrors('userAssigned')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('UsersCollectionThymeleafController')}">
    <label for="userAssigned" class="col-md-3 control-label" data-th-text="#{label_pickuprequest_userassigned}">User</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{userAssigned}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{userAssigned} == null" data-th-value="*{userAssigned.id}" data-th-text="*{{userAssigned}}" selected="selected">User</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('userAssigned')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('userAssigned')}" aria-hidden="true"></span>
      <span id="userAssigned-error" class="help-block" data-th-if="${#fields.hasErrors('userAssigned')}" data-th-errors="*{userAssigned}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="e55d5768" id="pickuprequest-status-field" data-th-classappend="${#fields.hasErrors('status')}? 'has-error has-feedback'" data-th-class="form-group">
    <label for="status" class="col-md-3 control-label" data-th-text="#{label_pickuprequest_status}">status</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{status}" class="form-control dropdown-select-simple" data-allow-clear="true" data-th-attr="data-placeholder=#{info_select_an_option}" required="required">
         <option data-th-each="item : ${status}" data-th-value="${item}" data-th-text="${{item}}">Value</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('status')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('status')}" aria-hidden="true"></span>
      <span id="status-error" class="help-block" data-th-if="${#fields.hasErrors('status')}" data-th-errors="*{status}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="ee9db9d6" id="pickuprequest-notes-field" data-th-classappend="${#fields.hasErrors('notes')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="notes" class="col-md-3 control-label" data-th-text="#{label_pickuprequest_notes}">notes</label>
  <div class="col-md-6">
    <input id="notes" name="notes" data-th-value="*{{notes}}" type="text" class="form-control" placeholder="notes" data-th-placeholder="#{label_pickuprequest_notes}" data-toggle="tooltip" aria-describedby="notesStatus" />
      <span data-th-classappend="${#fields.hasErrors('notes')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('notes')}" aria-hidden="true"></span>
      <span id="notes-error" class="help-block" data-th-if="${#fields.hasErrors('notes')}" data-th-errors="*{notes}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="daec9868" id="pickuprequest-documenttype-field" data-th-classappend="${#fields.hasErrors('documentType')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="documentType" class="col-md-3 control-label" data-th-text="#{label_pickuprequest_documenttype}">documentType</label>
  <div class="col-md-6">
    <input id="documentType" name="documentType" data-th-value="*{{documentType}}" type="text" class="form-control" placeholder="documentType" data-th-placeholder="#{label_pickuprequest_documenttype}" data-toggle="tooltip" aria-describedby="documentTypeStatus" />
      <span data-th-classappend="${#fields.hasErrors('documentType')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('documentType')}" aria-hidden="true"></span>
      <span id="documentType-error" class="help-block" data-th-if="${#fields.hasErrors('documentType')}" data-th-errors="*{documentType}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" id="pickuprequest-pickupdatetime-field" data-z="523f9a08" data-th-classappend="${#fields.hasErrors('pickupDateTime')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="pickupDateTime" class="col-md-3 control-label" data-th-text="#{label_pickuprequest_pickupdatetime}">pickupDateTime</label>
  <div class="col-md-3">
    <input id="pickupDateTime" name="pickupDateTime" data-th-value="*{{pickupDateTime}}" type="text" class="form-control datetimepicker" placeholder="pickupDateTime" data-th-placeholder="#{label_pickuprequest_pickupdatetime}" data-th-attr="data-dateformat=${pickupDateTime_date_format}" data-toggle="tooltip" /> <span data-th-classappend="${#fields.hasErrors('pickupDateTime')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('pickupDateTime')}" aria-hidden="true"></span>
     <span id="pickupDateTime-error" class="help-block" data-th-if="${#fields.hasErrors('pickupDateTime')}" data-th-errors="*{pickupDateTime}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="a67df6d6" id="pickuprequest-numberfiles-field" data-th-classappend="${#fields.hasErrors('numberFiles')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="numberFiles" class="col-md-3 control-label" data-th-text="#{label_pickuprequest_numberfiles}">numberFiles</label>
  <div class="col-md-3">
    <input id="numberFiles" name="numberFiles" data-th-value="*{{numberFiles}}" type="text" class="form-control inputmask" placeholder="numberFiles" data-th-placeholder="#{label_pickuprequest_numberfiles}" data-toggle="tooltip" aria-describedby="numberFilesStatus" data-inputmask-alias="numeric" data-inputmask-digits="0" min="0" />
      <span data-th-classappend="${#fields.hasErrors('numberFiles')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('numberFiles')}" aria-hidden="true"></span>
      <span id="numberFiles-error" class="help-block" data-th-if="${#fields.hasErrors('numberFiles')}" data-th-errors="*{numberFiles}">Error message.</span>
  </div>
</div>
             </fieldset>


              <!-- buttons form -->
              <div class="form-group">
                <div class="col-md-12">
                  <div class="pull-left">
                    <button type="reset" class="btn btn-default" onclick="location.href='list.html'" data-th-onclick="'location.href=\'' + @{${collectionLink.to('list')}} + '\''" data-th-text="#{label_reset}">Cancel</button>
                  </div>
                  <div class="pull-right">
                    <button type="submit" class="btn btn-primary" data-th-text="#{label_save}">Save</button>
                  </div>
                </div>
              </div>

          </form>
          <!-- /FORM -->

        </div>

      </section>
      <!-- /CONTENT -->
   </div>
   <!-- /CONTAINER -->

   <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
   </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">

    <!-- DateTimePicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js" data-th-src="@{/webjars/datetimepicker/build/jquery.datetimepicker.full.min.js}"></script>
    <script src="../../static/public/js/datetimepicker-defaults.js" data-th-src="@{/public/js/datetimepicker-defaults.js}"></script>

    <!-- jquery.inputmask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.1/jquery.inputmask.bundle.min.js" data-th-src="@{/webjars/jquery.inputmask/min/jquery.inputmask.bundle.min.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
        jQuery(document).ready(
      	  function() {
      	    Inputmask.extendAliases({
      	      'numeric' : {
      	         'groupSeparator' : /*[[#{label_inputmask_groupSeparator}]]*/'.',
      	         'radixPoint' : /*[[#{label_inputmask_radixPoint}]]*/','
      	       },
      	       'currency' : {
      	          'prefix' : /*[[#{label_inputmask_prefix}]]*/'',
      	          'suffix' : /*[[#{label_inputmask_suffix}]]*/' €'
      	        }
      	    });
      	 });
       })(jQuery);
    </script>
    <script src="../../static/public/js/inputmask-defaults.js" data-th-src="@{/public/js/inputmask-defaults.js}"></script>

    <!-- JQuery Validation -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js" data-th-src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js" data-th-src="@{/webjars/jquery-validation/dist/additional-methods.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/localization/messages_es.js" data-th-src="@{/webjars/jquery-validation/src/localization/messages_}+${#locale.language}+'.js'" data-th-if="${#locale.language} != 'en'">
      </script>
    <script src="../../static/public/js/validation-defaults.js" data-th-src="@{/public/js/validation-defaults.js}">
      </script>
    <!-- Concurrency control management -->
    <script data-th-src="@{/public/js/concurrency-control.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
         jQuery(document).ready(function() {
      	   jQuery.extend( jQuery.validator.messages, {
      	     'dateformat' : /*[[#{error_invalid_date}]]*/ 'Please enter a correct date/time',
      	     'inputmask': /*[[#{error_invalid_maskValue}]]*/ 'Please enter a valid value',
      	   });
      	 });
      })(jQuery);
      </script>

    </div>

  </body>

</html>
