<!DOCTYPE HTML>
<html lang="en" data-layout-decorate="~{layouts/default-layout}">
<head>
    <meta charset="UTF-8">
    <title>Request Workflow</title>

    <!-- DateTimePicker -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" data-th-href="@{/webjars/datetimepicker/build/jquery.datetimepicker.min.css}" />
    <link href="/public/css/sweetalert.min.css" rel="stylesheet">
    <link href="/public/css/workflow.css" rel="stylesheet">

</head>
<body>

<header role="banner">
</header>

<div class="container bg-container">
    <section data-layout-fragment="content">

        <div id="app">
        </div>

        <div id="loading"></div>

        <div id="infoModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Info</h4>
                    </div>
                    <div class="modal-body">
                        <p>Do you want to save changes you made to document before closing?</p>
                        <p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<footer class="container">
</footer>


<div data-layout-fragment="javascript">

    <!-- DateTimePicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js" data-th-src="@{/webjars/datetimepicker/build/jquery.datetimepicker.full.min.js}"></script>
    <script src="../../static/public/js/datetimepicker-defaults.js" data-th-src="@{/public/js/datetimepicker-defaults.js}"></script>

    <!-- jquery.inputmask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.1/jquery.inputmask.bundle.min.js" data-th-src="@{/webjars/jquery.inputmask/min/jquery.inputmask.bundle.min.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
        (function(jQuery) {
            jQuery(document)
                .ready(
                    function() {
                        Inputmask
                            .extendAliases({
                                'numeric' : {
                                    'groupSeparator' : '.',
                                    'radixPoint' : ','
                                },
                                'currency' : {
                                    'prefix' : '',
                                    'suffix' : ' ₹'
                                }
                            });
                    });
        })(jQuery);
    </script>
    <script src="../../static/public/js/inputmask-defaults.js" data-th-src="@{/public/js/inputmask-defaults.js}"></script>

    <!-- JQuery Validation -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js" data-th-src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}">
    </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js" data-th-src="@{/webjars/jquery-validation/dist/additional-methods.min.js}">
    </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/localization/messages_es.js" data-th-src="@{/webjars/jquery-validation/src/localization/messages_}+${#locale.language}+'.js'" data-th-if="${#locale.language} != 'en'">
    </script>
    <script src="../../static/public/js/validation-defaults.js" data-th-src="@{/public/js/validation-defaults.js}">
    </script>

    <script type="text/javascript" data-th-inline="javascript">
        (function(jQuery) {
            jQuery(document)
                .ready(
                    function() {
                        jQuery
                            .extend(
                                jQuery.validator.messages,
                                {
                                    'dateformat' : /*[[#{error_invalid_date}]]*/'Please enter a correct date/time',
                                    'inputmask' : /*[[#{error_invalid_maskValue}]]*/'Please enter a valid value',
                                });
                    });
        })(jQuery);
    </script>

    <script id="before-process-request-template" type="text/template">
        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('RequestsCollectionThymeleafController')}">
            <h1><%= type.toLowerCase().charAt(0).toUpperCase() + type.toLowerCase().slice(1) %> Request #<%= id %></h1>
            <h5>StorageType: <%= storageType.name %>, Status: <%= status %></h5>
            <br/>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><%= title %></h3>
                        </div>
                        <div class="panel-body">
                            <div>
                                <p class="lead"><%= msg %></p>
                                <button id="startProcessRequestButton" type="button" class="btn btn-primary">Proceed</button>
                                <button id="cancelProcessRequestButton" type="button" class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </script>


    <script id="assign-user-template" type="text/template">
        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('RequestsCollectionThymeleafController')}">
            <h1><%= type.toLowerCase().charAt(0).toUpperCase() + type.toLowerCase().slice(1) %> Request #<%= id %> - Assign User</h1>
            <h5>StorageType: <%= storageType.name %>, Status: <%= status %></h5>
            <br/>

            <form class="form-horizontal validate" autocomplete="off">
                <fieldset id="containerFields">
                    <div class="form-group" data-z="2b9dd0a4" id="request-userassigned-field">
                        <label for="userAssigned" class="col-md-3 control-label">User Assigned</label>
                        <div class="col-md-6">
                            <select id="userAssigned" class="form-control dropdown-select-ajax" data-allow-clear="true" data-ajax--url="/users/s2o" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-placeholder="Select an option" name="userAssigned"></select>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <button id="save-button" type="submit" class="btn btn-primary">Assign</button>
                        <button id="cancel-button" type="reset" class="btn btn-default" data-th-onclick="'location.href=\'' + @{${collectionLink.to('list')}} + '\''" data-th-text="#{label_reset}">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </script>

    <script id="close-request-template" type="text/template">
        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('RequestsCollectionThymeleafController')}">
            <h1><%= type.toLowerCase().charAt(0).toUpperCase() + type.toLowerCase().slice(1) %> Request #<%= id %> - Request Closed</h1>
            <h5>StorageType: <%= storageType.name %>, Status: <%= status %></h5>
            <br/>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Request Closed</h3>
                        </div>
                        <div class="panel-body">
                            <div>
                                <p class="lead">This request is closed!</p>
                                <button id="cancelButton" type="button" class="btn btn-default">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>


    <script id="store-records-template" type="text/template">
        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('RequestsCollectionThymeleafController')}">
            <h1><%= type.toLowerCase().charAt(0).toUpperCase() + type.toLowerCase().slice(1) %> Request #<%= id %> - Store Records</h1>
            <h5>StorageType: <%= storageType.name %>, Status: <%= status %></h5>
            <br/>
            <div id="store-records">
                <div class="row">
                    <div id="alert"></div>
                </div>
                <div class="row" style="display:flex; align-items:center;">
                    <div class="col-md-6 form-group">
                        <input id="validatedBoxBarcode" type="text" class="form-control"  placeholder="Validated Box Barcode" autofocus>
                    </div>
                    <div class="col-md-6">
                        <div class="progress">
                            <div class="progress-bar recordProgressbar" id="storeProgressbar">0%</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title" style="font-size: 16px;">Validated Boxes</h3>
                            </div>
                            <ul id="validatedBoxesRegion">
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title" style="font-size: 16px;">Stored Boxes</h3>
                            </div>
                            <ul id="storedBoxesRegion">
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </script>

    <script id="store-records-row-template" type="text/template">
        <%= barcode %><% if (isStoredBoxesView){ %><i class="fa fa-remove fa-2x pull-right deleteStoredBox" style="color: red;"></i><br/><small><%= shelf.barcode %></small><%}%>
    </script>

    <script id="verify-records-template" type="text/template">
        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('RequestsCollectionThymeleafController')}">
            <h1><%= type.toLowerCase().charAt(0).toUpperCase() + type.toLowerCase().slice(1) %> Request #<%= id %> - Verify Records</h1>
            <h5>StorageType: <%= storageType.name %>, Status: <%= status %></h5>
            <br/>
            <div id="verify-records">
                <div id="alert"></div>
                <div class="row" style="display:flex; align-items:center;">
                    <div class="col-md-6 form-group">
                        <input id="incomingBoxBarcode" type="text" class="form-control"  placeholder="Incoming Box Barcode" autofocus>
                    </div>
                    <div class="col-md-6">
                        <div class="progress">
                            <div class="progress-bar recordProgressbar" id="verifyProgressbar">0%</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title" style="font-size: 16px;">Incoming Boxes</h3>
                            </div>
                            <ul id="incomingBoxesRegion">
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title" style="font-size: 16px;">System Boxes</h3>
                            </div>
                            <ul id="systemBoxesRegion">
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </script>

    <script id="verify-records-row-template" type="text/template">
        <%= id %><% if (!isSystemBoxesView){ %><i class="fa fa-remove fa-2x pull-right deleteIncomingBox" style="color: red;"></i><%}%>
    </script>

    <script id="view-records-template" type="text/template">
        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('RequestsCollectionThymeleafController')}">
            <h1><%= type.toLowerCase().charAt(0).toUpperCase() + type.toLowerCase().slice(1) %> Request #<%= id %> - View Records</h1>
            <h5>StorageType: <%= storageType.name %>, Status: <%= status %></h5>
            <br/>
            <div id="view-records">
                <div class="row">
                    <div class="col-md-10">
                        <p>
                            <button id="loadChartButton" onclick="location.href='loadchart';" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-list-alt" style="margin-right: 3px;"></span> Load Chart</button>
                            <button id="startTransitButton" type="button" class="btn btn-primary" ><span class="glyphicon glyphicon-send" style="margin-right: 3px;"></span> Start Transit</button>
                        </p>
                    </div>
                </div>
                <div>
                    <table id="recordsTable" class="table table-bordered table-striped table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Status</th>
                                <th>Location</th>

                                <% if (storageType.name === 'DOCUMENT') { %>
                                <th>Doc Barcode</th>
                                <% } %>

                                <% if (storageType.name === 'DOCUMENT' || storageType.name === 'FILE') { %>
                                <th>File Barcode</th>
                                <% } %>

                                <th>Box Barcode</th>

                                <th>Ref1</th>
                                <th>Ref2</th>
                                <th>Ref3</th>
                                <th>Ref4</th>
                                <th>Ref5</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% _.each(inventoryItems, function(item, i) { %>
                            <tr>
                                <td><%= i+1 %></td>
                                <td><%= item.status %></td>
                                <td><%= item.location %></td>

                                <% if (item.type === 'DOCUMENT') { %>
                                <td><%= item.documentBarcode %></td>
                                <% } %>

                                <% if (item.type === 'DOCUMENT' || item.type === 'FILE') { %>
                                <td><%= item.fileBarcode %></td>
                                <% } %>

                                <td><%= item.boxBarcode %></td>

                                <td><%= item.ref1 %></td>
                                <td><%= item.ref2 %></td>
                                <td><%= item.ref3 %></td>
                                <td><%= item.ref4 %></td>
                                <td><%= item.ref5 %></td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </script>

    <script id="add-records-template" type="text/template">
        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('RequestsCollectionThymeleafController')}">
            <h1><%= type.toLowerCase().charAt(0).toUpperCase() + type.toLowerCase().slice(1) %> Request #<%= id %> - Add Records</h1>
            <h5>StorageType: <%= storageType.name %>, Status: <%= status %></h5>
            <br/>
            <div id="add-records"></div>
        </div>
    </script>

    <script id="boxes-template" type="text/template">
        <div id="alert"></div>

        <div class="modal" id="livestream_scanner">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Barcode Scanner</h4>
                    </div>
                    <div class="modal-body" style="position: static">
                        <div id="interactive" class="viewport"></div>
                        <div class="error"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row bottom-buffer">
            <div class="col-md-4 col-md-offset-1">
                <div class="input-group">
                    <input id="boxBarcode" name="boxBarcode" type="text" class="form-control" placeholder="Box Barcode" autofocus/>
                    <span id="camerabuttoninputgroup" class="input-group-btn">
                        <button id="cameraButton" type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-camera"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <p>
                    <button id="addBoxButton" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Box</button>
                    <button id="deleteBoxButton" type="button" class="btn btn-primary" disabled="disabled" ><span class="glyphicon glyphicon-remove"></span> Delete Box</button>
                </p>
            </div>
            <div class="col-md-1">
                    <button id="saveRecordsButton" type="button" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-download"></span> Save Records</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Boxes</h3>
                    </div>
                    <div class="panel-body">
                        <div id="boxTableRegion" class="table-container">
                            <table class="table table-filter">
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="box-row-template" type="text/template">
        <td>
            <div class="ckbox">
                <input type="checkbox" id="checkbox_<%= barcode %>" data-barcode="<%= barcode %>">
                <label for="checkbox_<%= barcode %>"></label>
            </div>
        </td>
        <td>
            <div class="media">
                <a href="#" class="pull-left">
                    <img src="/public/img/box.png" class="media-photo">
                </a>
                <% if(storageType !== 'BOX') { %>
                <a id='showFilesButton' data-barcode="<%= barcode %>" class='btn btn-warning btn-xs pull-right' href='#'><span class="glyphicon glyphicon-folder-open"></span> Files</a>
                <% } %>
                <a id='editBoxButton' data-barcode="<%= barcode %>" class='btn btn-info btn-xs pull-right' style="margin-right: 3px;" href='#'><span class="glyphicon glyphicon-edit"></span> Edit</a>
                <div>
                    <h4 class="title">Barcode: <%= barcode %></h4>
                    <% if(storageType !== 'BOX') { %>
                    <p class="summary"><%= files.size() %> Files</p>
                    <% } %>
                </div>
            </div>
        </td>
    </script>

    <script id="box-template" type="text/template">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <% if(barcode) { %>
                        <h3 class="panel-title">Box <%= barcode %></h3>
                        <% } else { %>
                        <h3 class="panel-title">New Box</h3>
                        <% } %>

                    </div>
                    <a href="#" class="pull-right"><img src="/public/img/box.png" class="media-photo"></a>
                    <div class="panel-body">
                        <div id="box-form">
                            <form class="form-horizontal validate" autocomplete="off">
                                <div class="form-group">
                                    <div class="col-md-9 col-md-offset-3">
                                        <button id="ok-button" type="submit" class="btn btn-primary">OK</button>
                                        <button id="cancel-button" type="reset" class="btn btn-default" >Cancel</button>
                                    </div>
                                </div>
                                <fieldset id="containerFields">

                                    <div class="form-group" data-z="146343be" id="box-barcode-field">
                                        <label for="barcode" class="col-md-3 control-label">Box Barcode</label>
                                        <div class="col-md-6">
                                            <input id="barcode" name="barcode" value="<%= barcode %>" type="text" class="form-control" placeholder="Barcode" data-toggle="tooltip" aria-describedby="barcodeStatus" required="required" />
                                        </div>
                                    </div>

                                    <div class="form-group" data-z="3c95e40" id="box-location-field">
                                        <label for="location" class="col-md-3 control-label">Location</label>
                                        <div class="col-md-6">
                                            <input id="location" name="location" value="<%= location %>" type="text" class="form-control" placeholder="Location" data-toggle="tooltip" aria-describedby="locationStatus" />
                                        </div>
                                    </div>

                                    <% if(storageType === 'BOX') { %>
                                    <div class="form-group" data-z="da574cf" id="boxinventoryitem-ref1-field">
                                        <label for="ref1" class="col-md-3 control-label">Ref1</label>
                                        <div class="col-md-6">
                                            <input id="ref1" name="ref1" value="<%= inventoryItem.attributes.ref1  %>" type="text" class="form-control" placeholder="Ref1" data-toggle="tooltip" aria-describedby="ref1Status" required="required" />
                                        </div>
                                    </div>
                                    <div class="form-group" data-z="da578af" id="boxinventoryitem-ref2-field">
                                        <label for="ref2" class="col-md-3 control-label">Ref2</label>
                                        <div class="col-md-6">
                                            <input id="ref2" name="ref2" value="<%= inventoryItem.attributes.ref2  %>" type="text" class="form-control" placeholder="Ref2" data-toggle="tooltip" aria-describedby="ref2Status" />
                                        </div>
                                    </div>
                                    <div class="form-group" data-z="da57c8f" id="boxinventoryitem-ref3-field">
                                        <label for="ref3" class="col-md-3 control-label">Ref3</label>
                                        <div class="col-md-6">
                                            <input id="ref3" name="ref3" value="<%= inventoryItem.attributes.ref3  %>" type="text" class="form-control" placeholder="Ref3" data-toggle="tooltip" aria-describedby="ref3Status" />
                                        </div>
                                    </div>
                                    <div class="form-group" data-z="da5806f" id="boxinventoryitem-ref4-field">
                                        <label for="ref4" class="col-md-3 control-label">Ref4</label>
                                        <div class="col-md-6">
                                            <input id="ref4" name="ref4" value="<%= inventoryItem.attributes.ref4  %>" type="text" class="form-control" placeholder="Ref4" data-toggle="tooltip" aria-describedby="ref4Status" />
                                        </div>
                                    </div>
                                    <div class="form-group" data-z="da5844f" id="boxinventoryitem-ref5-field">
                                        <label for="ref5" class="col-md-3 control-label">Ref5</label>
                                        <div class="col-md-6">
                                            <input id="ref5" name="ref5" value="<%= inventoryItem.attributes.ref5  %>" type="text" class="form-control" placeholder="Ref5" data-toggle="tooltip" aria-describedby="ref5Status" />
                                        </div>
                                    </div>
                                    <% } %>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="files-template" type="text/template">
        <div class="row bottom-buffer">
            <div class="col-md-4 col-md-offset-1">
                <input id="fileBarcode" name="fileBarcode" type="text" class="form-control" placeholder="File Barcode" autofocus/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <p>
                    <button id="addFileButton" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add File</button>
                    <button id="deleteFileButton" type="button" class="btn btn-primary" disabled="disabled" ><span class="glyphicon glyphicon-remove"></span> Delete File</button>
                    <button id="showBoxesButton" type="button" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-chevron-left"></span>Boxes</button>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 id="filesPanelTitle" class="panel-title"></h3>
                    </div>
                    <div class="panel-body">
                        <div id="fileTableRegion" class="table-container">
                            <table class="table table-filter">
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="file-row-template" type="text/template">
        <td>
            <div class="ckbox">
                <input type="checkbox" id="checkbox_<%= barcode %>" data-barcode="<%= barcode %>">
                <label for="checkbox_<%= barcode %>"></label>
            </div>
        </td>
        <td>
            <div class="media">
                <a href="#" class="pull-left">
                    <img src="/public/img/file.png" class="media-photo">
                </a>
                <% if(storageType !== 'FILE') { %>
                <a id='showDocsButton' data-barcode="<%= barcode %>" class='btn btn-warning btn-xs pull-right' href='#'><span class="glyphicon glyphicon-file"></span> Docs</a>
                <% } %>
                <a id='editFileButton' data-barcode="<%= barcode %>" class='btn btn-info btn-xs pull-right' style="margin-right: 3px;" href='#'><span class="glyphicon glyphicon-edit"></span> Edit</a>
                <div>
                    <h4 class="title">Barcode: <%= barcode %></h4>
                    <% if(storageType !== 'FILE') { %>
                    <p class="summary"><%= documents.size() %> Documents</p>
                    <% } %>
                </div>
            </div>
        </td>
    </script>

    <script id="file-template" type="text/template">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 id="filePanelTitle" class="panel-title"></h3>
                    </div>
                    <a href="#" class="pull-right"><img src="/public/img/file.png" class="media-photo"></a>
                    <div class="panel-body">
                        <div id="file-form">
                            <form class="form-horizontal validate" autocomplete="off">
                                <div class="form-group">
                                    <div class="col-md-9 col-md-offset-3">
                                        <button id="ok-button" type="submit" class="btn btn-primary">OK</button>
                                        <button id="cancel-button" type="reset" class="btn btn-default" >Cancel</button>
                                    </div>
                                </div>
                                <fieldset id="containerFields">

                                    <div class="form-group" data-z="146343be" id="file-barcode-field">
                                        <label for="barcode" class="col-md-3 control-label">File Barcode</label>
                                        <div class="col-md-6">
                                            <input id="barcode" name="barcode" value="<%= barcode %>" type="text" class="form-control" placeholder="Barcode" data-toggle="tooltip" aria-describedby="barcodeStatus" required="required" />
                                        </div>
                                    </div>

                                    <div class="form-group" data-z="3c95e40" id="file-location-field">
                                        <label for="location" class="col-md-3 control-label">Location</label>
                                        <div class="col-md-6">
                                            <input id="location" name="location" value="<%= location %>" type="text" class="form-control" placeholder="Location" data-toggle="tooltip" aria-describedby="locationStatus" />
                                        </div>
                                    </div>

                                    <% if(storageType === 'FILE') { %>
                                    <div class="form-group" data-z="da574cf" id="fileinventoryitem-ref1-field">
                                        <label for="ref1" class="col-md-3 control-label">Ref1</label>
                                        <div class="col-md-6">
                                            <input id="ref1" name="ref1" value="<%= inventoryItem.attributes.ref1  %>" type="text" class="form-control" placeholder="Ref1" data-toggle="tooltip" aria-describedby="ref1Status" required="required" />
                                        </div>
                                    </div>
                                    <div class="form-group" data-z="da578af" id="fileinventoryitem-ref2-field">
                                        <label for="ref2" class="col-md-3 control-label">Ref2</label>
                                        <div class="col-md-6">
                                            <input id="ref2" name="ref2" value="<%= inventoryItem.attributes.ref2  %>" type="text" class="form-control" placeholder="Ref2" data-toggle="tooltip" aria-describedby="ref2Status" />
                                        </div>
                                    </div>
                                    <div class="form-group" data-z="da57c8f" id="fileinventoryitem-ref3-field">
                                        <label for="ref3" class="col-md-3 control-label">Ref3</label>
                                        <div class="col-md-6">
                                            <input id="ref3" name="ref3" value="<%= inventoryItem.attributes.ref3  %>" type="text" class="form-control" placeholder="Ref3" data-toggle="tooltip" aria-describedby="ref3Status" />
                                        </div>
                                    </div>
                                    <div class="form-group" data-z="da5806f" id="fileinventoryitem-ref4-field">
                                        <label for="ref4" class="col-md-3 control-label">Ref4</label>
                                        <div class="col-md-6">
                                            <input id="ref4" name="ref4" value="<%= inventoryItem.attributes.ref4  %>" type="text" class="form-control" placeholder="Ref4" data-toggle="tooltip" aria-describedby="ref4Status" />
                                        </div>
                                    </div>
                                    <div class="form-group" data-z="da5844f" id="fileinventoryitem-ref5-field">
                                        <label for="ref5" class="col-md-3 control-label">Ref5</label>
                                        <div class="col-md-6">
                                            <input id="ref5" name="ref5" value="<%= inventoryItem.attributes.ref5  %>" type="text" class="form-control" placeholder="Ref5" data-toggle="tooltip" aria-describedby="ref5Status" />
                                        </div>
                                    </div>
                                    <% } %>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="documents-template" type="text/template">
        <div class="row bottom-buffer">
            <div class="col-md-4 col-md-offset-1">
                <input id="docBarcode" name="docBarcode" type="text" class="form-control" placeholder="Document Barcode" autofocus/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <p>
                    <button id="addDocumentButton" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Document</button>
                    <button id="deleteDocumentButton" type="button" class="btn btn-primary" disabled="disabled" ><span class="glyphicon glyphicon-remove"></span> Delete Document</button>
                    <button id="showFilesButton" type="button" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-chevron-left"></span>Files</button>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 id="documentsPanelTitle" class="panel-title"></h3>
                    </div>
                    <div class="panel-body">
                        <div id="documentTableRegion" class="table-container">
                            <table class="table table-filter">
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="document-row-template" type="text/template">
        <td>
            <div class="ckbox">
                <input type="checkbox" id="checkbox_<%= barcode %>" data-barcode="<%= barcode %>">
                <label for="checkbox_<%= barcode %>"></label>
            </div>
        </td>
        <td>
            <div class="media">
                <a href="#" class="pull-left">
                    <img src="/public/img/doc.png" class="media-photo">
                </a>

                <a id='editDocumentButton' data-barcode="<%= barcode %>" class='btn btn-info btn-xs pull-right' style="margin-right: 3px;" href='#'><span class="glyphicon glyphicon-edit"></span> Edit</a>
                <div>
                    <h4 class="title">Barcode: <%= barcode %></h4>
                </div>
            </div>
        </td>
    </script>

    <script id="document-template" type="text/template">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 id="documentPanelTitle" class="panel-title"></h3>
                    </div>
                    <a href="#" class="pull-right"><img src="/public/img/doc.png" class="media-photo"></a>
                    <div class="panel-body">
                        <div id="document-form">
                            <form class="form-horizontal validate" autocomplete="off">
                                <div class="form-group">
                                    <div class="col-md-9 col-md-offset-3">
                                        <button id="ok-button" type="submit" class="btn btn-primary">OK</button>
                                        <button id="cancel-button" type="reset" class="btn btn-default" >Cancel</button>
                                    </div>
                                </div>
                                <fieldset id="containerFields">

                                    <div class="form-group" data-z="146343be" id="document-barcode-field">
                                        <label for="barcode" class="col-md-3 control-label">Document Barcode</label>
                                        <div class="col-md-6">
                                            <input id="barcode" name="barcode" value="<%= barcode %>" type="text" class="form-control" placeholder="Barcode" data-toggle="tooltip" aria-describedby="barcodeStatus" required="required" />
                                        </div>
                                    </div>

                                    <div class="form-group" data-z="3c95e40" id="document-location-field">
                                        <label for="location" class="col-md-3 control-label">Location</label>
                                        <div class="col-md-6">
                                            <input id="location" name="location" value="<%= location %>" type="text" class="form-control" placeholder="Location" data-toggle="tooltip" aria-describedby="locationStatus" />
                                        </div>
                                    </div>

                                    <% if(storageType === 'DOCUMENT') { %>
                                    <div class="form-group" data-z="da574cf" id="documentinventoryitem-ref1-field">
                                        <label for="ref1" class="col-md-3 control-label">Ref1</label>
                                        <div class="col-md-6">
                                            <input id="ref1" name="ref1" value="<%= inventoryItem.attributes.ref1  %>" type="text" class="form-control" placeholder="Ref1" data-toggle="tooltip" aria-describedby="ref1Status" required="required" />
                                        </div>
                                    </div>
                                    <div class="form-group" data-z="da578af" id="documentinventoryitem-ref2-field">
                                        <label for="ref2" class="col-md-3 control-label">Ref2</label>
                                        <div class="col-md-6">
                                            <input id="ref2" name="ref2" value="<%= inventoryItem.attributes.ref2  %>" type="text" class="form-control" placeholder="Ref2" data-toggle="tooltip" aria-describedby="ref2Status" />
                                        </div>
                                    </div>
                                    <div class="form-group" data-z="da57c8f" id="documentinventoryitem-ref3-field">
                                        <label for="ref3" class="col-md-3 control-label">Ref3</label>
                                        <div class="col-md-6">
                                            <input id="ref3" name="ref3" value="<%= inventoryItem.attributes.ref3  %>" type="text" class="form-control" placeholder="Ref3" data-toggle="tooltip" aria-describedby="ref3Status" />
                                        </div>
                                    </div>
                                    <div class="form-group" data-z="da5806f" id="documentinventoryitem-ref4-field">
                                        <label for="ref4" class="col-md-3 control-label">Ref4</label>
                                        <div class="col-md-6">
                                            <input id="ref4" name="ref4" value="<%= inventoryItem.attributes.ref4  %>" type="text" class="form-control" placeholder="Ref4" data-toggle="tooltip" aria-describedby="ref4Status" />
                                        </div>
                                    </div>
                                    <div class="form-group" data-z="da5844f" id="documentinventoryitem-ref5-field">
                                        <label for="ref5" class="col-md-3 control-label">Ref5</label>
                                        <div class="col-md-6">
                                            <input id="ref5" name="ref5" value="<%= inventoryItem.attributes.ref5  %>" type="text" class="form-control" placeholder="Ref5" data-toggle="tooltip" aria-describedby="ref5Status" />
                                        </div>
                                    </div>
                                    <% } %>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script src="/public/js/underscore.min.js"></script>
    <script src="/public/js/backbone.min.js"></script>
    <script src="/public/js/backbone.localStorage.min.js" type="text/javascript"></script>
    <script src="/public/js/marionette.min.js"></script>
    <script src="/public/js/spin.min.js"></script>
    <script src="/public/js/sweetalert.min.js"></script>
    <script src="/public/js/webrtc-adapter.min.js"></script>
    <script src="/public/js/quagga.min.js"></script>
    <script src="/public/js/8c5e0528.workflow-pickup.min.js"></script>

</div>



</body>
</html>